@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    scrollbar-gutter: stable;
  }

h1,h2,h3,h4,h5,h6{
  font-family: 'DM Serif Display', serif;

}
p,a,li,button,input,select{
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BC986B;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  /* .button-primary{
    width: 170px;
    height: 50px;
    margin-block: 2rem;
    background-color: #bda588;
    border: none;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;

}
.button-primary:hover{
    background-color: #BC986B;

} */